<section>
    <h4>Entertainment</h4>
    <a href="http://www.americancinematheque.com/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/cinematheque.jpg" alt="American Cinematheque" title="American Cinematheque" /></a>
    <a href="http://www.arclightcinemas.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/arclight.jpg" alt="Arclight Theatre" title="Arclight Theatre" /></a>
    <a href="http://collider.com/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/collider.jpg" alt="Collider" title="Collider" /></a>
    <a href="http://www.fandango.com/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/fandango.gif" alt="Fandango" title="Fandango" /></a>
    <a href="http://www.imdb.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/imdb.jpg" alt="IMDB" title="IMDB" /></a>
    <a href="http://www.mouseplanet.com/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/mouseplanet.gif" alt="MousePlanet" title="MousePlanet" /></a>
    <a href="http://www.quora.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/quora.png" alt="Quora" title="Quora" /></a>
    <a href="http://newbevcinema.com/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/new_beverly.jpg" alt="New Beverly Cinema" title="New Beverly Cinema" /></a>
    <a href="http://www.reddit.com" class="excerpt"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/reddit.gif" alt="reddit" title="reddit" /></a>
    <a href="https://www.ted.com/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/ted.png" alt="TED" title="TED" /></a>
    <a href="https://www.youtube.com/" class="excerpt"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/youtube.png" alt="YouTube" title="YouTube" /></a>
</section>
<section>
    <h4>Trade Sites</h4>
    <a href="https://www.apple.com/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/apple.png" alt="Apple" title="Apple" /></a>
    <a href="http://whois.domaintools.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/domaintools.png" alt="DomainTools" title="DomainTools" /></a>
    <a href="https://github.com/chuckharper/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/github.png" alt="GitHub" title="GitHub" /></a>
    <a href="https://archive.org/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/internet_archive.png" alt="Internet Archive" title="Internet Archive" /></a>
    <a href="https://stackoverflow.com/users/8600830/chuck-harper"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/stackoverflow.png" alt="StackOverflow" title="StackOverflow" /></a>
</section>
<section>
    <h4>Other News</h4>
    <a href="http://news.bbc.co.uk/" class="excerpt"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/bbcnews.gif" alt="BBC" title="BBC" /></a>
    <a href="http://www.economist.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/economist.gif" alt="The Economist" title="The Economist" /></a>
    <a href="http://www.space.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/space.jpg" alt="Space.com" title="Space.com" /></a>
</section>
<section>
    <h4>Tech News</h4>
    <a href="http://www.alistapart.com/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/alistapart.gif" alt="A List Apart" title="A List Apart" /></a>
    <a href="http://www.arstechnica.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/arstechnica.jpg" alt="Ars Technica" title="Ars Technica" /></a>
    <a href="http://www.cringely.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/icringley.jpg" alt="I, Cringley" title="I, Cringley" /></a>
    <a href="http://www.nytimes.com/pages/technology/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/nytimes.gif" alt="New York Time Tech" title="New York Time Tech" /></a>
    <a href="http://www.slashdot.org"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/slashdot.gif" alt="Slashdot" title="Slashdot" /></a>
    <a href="http://www.tuaw.com/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/tuaw.gif" alt="The Unofficial Apple Weblog" title="The Unofficial Apple Weblog" /></a>
    <a href="http://www.wired.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/wired.png" alt="Wired News" title="Wired News" /></a>
</section>
<section>
    <h4>Comic Strips</h4>
    <a href="http://comics.com/brevity/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/brevity.gif" alt="Brevity" title="Brevity" /></a>
    <a href="http://cad-comic.com/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/ctrlaltdel.gif" alt="Ctrl+Alt+Del" title="Ctrl+Alt+Del" /></a>
    <a href="http://www.dilbert.com/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/dilbert.gif" alt="Dilbert" title="Dilbert" /></a>
    <a href="http://www.foxtrot.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/foxtrot.gif" alt="Foxtrot" title="Foxtrot" /></a>
    <a href="http://www.geekculture.com/joyoftech/index.html"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/joyoftech.gif" alt="The Joy of Tech" title="The Joy of Tech" /></a>
    <a href="https://www.penny-arcade.com/comic"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/pennyarcade.jpg" alt="Penny Arcade" title="Penny Arcade" /></a>
    <a href="http://pvponline.com/comic"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/pvp.jpg" alt="Player vs Player" title="Player vs Player" /></a>
    <a href="http://xkcd.com/" class="excerpt"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/xkcd.gif" alt="XKCD" title="XKCD" /></a>
</section>
<section>
    <h4>Shopping</h4>
    <a href="http://www.amazon.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/amazon.gif" alt="Amazon" title="Amazon" /></a>
    <a href="http://www.brickarms.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/brickarms.png" alt="BrickArms" title="BrickArms" /></a>
    <a href="http://www.crucial.com/"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/crucial.gif" alt="Crucial" title="Crucial" /></a>
    <a href="http://www.frys.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/frys.gif" alt="Frys Electronics" title="Frys Electronics" /></a>
    <a href="http://www.teefury.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/teefury.gif" alt="Tee Fury" title="Tee Fury" /></a>
    <a href="http://www.thinkgeek.com"><img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks/thinkgeek.gif" alt="ThinkGeek" title="ThinkGeek" /></a>
</section>