<h2>The Origin of Tron Legacy</h2>
<p><strong>This is a work of fiction, but I am convinced the following conversation could have actually happened at some point:</strong></p>
<div class="hr"><hr /></div>
<p><em>(Phone Rings)</em></p>
<img src="https://s3-us-west-1.amazonaws.com/chuckharper/images/tron_legacy_logo.png" alt="Tron Legacy" title="Tron Legacy" class="trailing_image" />
<p><strong class="character_name">Michelle:</strong> Hello, this is Michelle.</p>
<p><strong class="character_name">Disney:</strong> Hi, this is Adam from Disney Feature Production. I'd like to ask you some marketing questions about your husband's interests.</p>
<p><strong class="character_name">Michelle:</strong> (apprehensive) OK.</p>
<p><strong class="character_name">Disney:</strong> Well we're trying to come up with ideas for a new live action movie, and we know that your husband, Chuck, is a big movie buff and a fan of Disney and Pixar. We were hoping you could tells us what he would like us to make in hopes that other, similar, fans would be interested.</p>
<p><strong class="character_name">Michelle:</strong> What do you want to know?</p>
<p><strong class="character_name">Disney:</strong> Well, a lot of studios have been having great success at reinventing older properties like <em>The A–Team</em> and <em>Clash of the Titans</em>. What was Chuck's favorite Disney movie when he was a kid?</p>
<p><strong class="character_name">Michelle:</strong> In Junior High his favorite movie was <em>Tron</em>.</p>
<p><strong class="character_name">Disney:</strong> Excellent. We've been thinking about doing a <em>Tron</em> movie for a while now. What do you think he would want to see in a <em>Tron</em> movie?</p>
<p><strong class="character_name">Michelle:</strong> Well, I know that he likes it when sequels stick to the details of the original movie. Inserting references to characters and events from the earlier movie and maintaining continuity. Like in Terminator 2, and Aliens. Also, you would have to bring back the characters from the first movie especially Tron and Flynn, even if it's just in a cameo role.</p>
<p><strong class="character_name">Disney:</strong> OK, cool. We can do some of that. We've talked to Bruce Boxleitner and he's in. I don't know if we can get Jeff Bridges, though, he's been nominated for an Oscar and is a real "A-List" actor. What else?</p>
<p><strong class="character_name">Michelle:</strong> Well you have to have a disc fight, lightcycle chase scene, and those flying robot things…</p>
<p><strong class="character_name">Disney:</strong> Recognizers?</p>
<p><strong class="character_name">Michelle:</strong> Yeah, those.</p>
<p><strong class="character_name">Disney:</strong> That's no problem. Those are all kind of iconic parts from the original. What else does Chuck look for in a movie? What was the last movie he went to see in a theater more than once?</p>
<p><strong class="character_name">Michelle:</strong> He saw Avatar three times. He was geeking out about how real the 3D looked. He even went so far as to order a pair of custom 3D glasses from the Coke Reward website.</p>
<p><strong class="character_name">Disney:</strong> 3D, huh. All the movies coming out these days are release in 3D. So that's no problem.</p>
<p><strong class="character_name">Michelle:</strong> Wait! You have to film it for 3D. Chuck hates the fake 3D movies like <em>Clash of the Titans</em> and <em>The Last Airbender</em>. He refused to see those in 3D.</p>
<p><strong class="character_name">Disney:</strong> OK, that's pretty expensive, but we'll think about it. What about music?</p>
<p><strong class="character_name">Michelle:</strong> Well, Chuck is a huge fan of film scores. He has hours of stuff on his iPod from <em>Pirates of the Caribbean</em>, <em>The Rocketeer</em> and <em>Star Wars</em> to name a few.</p>
<p><strong class="character_name">Disney:</strong> Huh, a traditional orchestral score; I'm not sure about that. It's seems too old fashioned for a modern <em>Tron</em> movie. What about something the kids will actually listen to?</p>
<p><strong class="character_name">Michelle:</strong> Well, he is also obsessed with Electronica music. That high frequency random noise stuff that they play at dance clubs. Like Crystal Method, Prodigy, and lately he's been listen to a LOT of Daft Punk. It's driving me a little nuts.<img src="/images/tron_daft_punk.jpg" alt="Daft Punk" title="Daft Punk" class="trailing_image" /></p>
<p><strong class="character_name">Disney:</strong> Daft Punk, huh. OK, we'll look into it. Can you think of anything else?</p>
<p><strong class="character_name">Michelle:</strong> Well, if you could release the Blu Ray right around his birthday that would be helpful. Also, if I'm going to get dragged to see this movie in the theater several times then I want something for me.</p>
<p><strong class="character_name">Disney:</strong> Well, we do want to appeal to fan’s wives and girlfriends. What did you have in mind?</p>
<p><strong class="character_name">Michelle:</strong> My favorite actor is Michael Sheen. Can you put him in it.</p>
<p><strong class="character_name">Disney:</strong> That Volturi guy from the Twilight movies? I'll make a note. Wouldn't you rather have that shirtless werewolf guy?</p>
<p><strong class="character_name">Michelle:</strong> No, that's my friends' obsession, not mine.</p>
<p><strong class="character_name">Disney:</strong> OK, well thank you for your time. You've given us a lot to think about.<br />One last thing, are there any other obscure Disney titles we should think about bringing back that your husband would like?</p>
<p><strong class="character_name">Michelle:</strong> Well, I know he also liked The Black Hole…</p>
<p class="coda"><strong>Author's Note:</strong> A re-imagining of <em>The Black Hole</em> was briefly considered around the release of Tron Legacy, but has since been shelved indefinitely.</p>