body {
	background-color: #11171a;
	color: #79b2df;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0;
	margin: 0 auto 0 auto;
}
#wrapper_outside {
	background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center top;
	overflow: visible;
	position: relative;
	width: 100%;
	z-index: 100;
}
#wrapper_inside {
	background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/bottom_mask.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
	overflow: visible;
	width: 100%;
	min-height: 844px;
}
#main {
	margin: 0 auto;
	overflow: visible;
	padding: 120px 0 120px;
	position: relative;
	width: 800px;
}

#inside_wrapper {
	background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/bg_inside.gif);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	width: 100%;
	z-index: 100;
}
#main_inside {
	margin: 0 auto;
	overflow: visible;
	padding: 6px 0 30px;
	position: relative;
	width: 680px;
}
img {
	border: 0;
}
a, a:visited {
	color: #c9ebff;
	text-decoration: none;
}
a:hover {
	color: #c9ebff;
	text-decoration: underline;
}
ul {
	list-style-type: none;
	margin: 0 0 1em;
	padding: 0;
}
p {
	margin: 0 0 1em;
}
h1, h2, h3, h4, h5 {
	font-family: Lucida Console, Monaco, monospace;
	margin: 1em 0 0;
}
h1 {
	font-size: 28px;
	font-weight: normal;
}
h2 {
	font-size: 24px;
	font-weight: normal;
}
h3 {
	font-size: 18px;
	font-weight: normal;
}
h4 {
	font-size: 18px;
	font-weight: normal;
}
h5 {
	font-size: 14px;
	font-weight: bold;
}
.bulletlist {
	list-style-type: disc;
	padding-left: 3em;
}
.bulletlist	li {
	margin-bottom: 0.5em;
}

#chuckharper_com {
	margin: 0 0 0 226px;
}
#chuckharper_com	a {
	background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/chuckharper_com.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 67px;
	text-indent: -9999px;
	width: 421px;
}
#chuckharper_com	a:hover { background-position: left bottom; }

#nav_home {
	margin: 0 0 0 60px;
}
#nav_home	a {
	background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/nav_home.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 37px;
	text-indent: -9999px;
	width: 274px;
}
#nav_home	a:hover { background-position: left center; }

#home_nav {
	margin: 80px 0 0 130px;
}
#home_nav	li {
	margin-bottom: 16px;
}
#home_nav	a {
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 54px;
	text-indent: -9999px;
	width: 622px;
}
#home_nav	a:hover { background-position: right top; }

#home_about { padding-top: 30px; }

#home_it	a { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/home_it.gif); }
#home_video	a { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/home_video.gif); }
#home_web	a { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/home_web.gif); }
#home_bookmarks	a { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/home_bookmarks.gif); }
#home_photos	a { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/home_photos.gif); }
#home_about	a { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/home_about.gif); }

#nav {
	margin: 0;
	padding: 0;
}
#nav	li {
	float: left;
	margin-left: 4px;
}
#nav	li.first_li {
	margin-left: 0;
}

#nav	a {
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 37px;
	text-indent: -9999px;
}
#nav	a:hover { background-position: left center; }
#nav	li.active	a { background-position: left bottom; }

#nav	#nav_it { margin-left: 24px; }
#nav	#nav_about { margin-left: 14px; }

#nav_it	a { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/nav_it.gif); width:34px; }
#nav_video	a { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/nav_video.gif); width:37px; }
#nav_web	a { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/nav_web.gif); width:37px; }
#nav_bookmarks	a {	background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/nav_bookmarks.gif); width:36px; }
#nav_photos	a { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/nav_photos.gif); width:36px; }
#nav_about	a { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/nav_about.gif); width:35px; }

body.inside_body	h2 {
	background-repeat: no-repeat;
	height: 34px;
	margin-bottom: 10px;
	text-indent: -9999px;
}
#body_web	h2 { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/header_web.gif); }
#body_it	h2 { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/header_it.gif); }
#body_video	h2 { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/header_video.gif); }
#body_bookmarks	h2 { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/header_bookmarks.gif); }
#body_photos	h2 { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/header_photos.gif); }
#body_sponsors	h2 { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/header_sponsors.gif); }
#body_about	h2 { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/header_about.gif); }
body.inside_body	h2.noimage {
	text-indent: 0;
}

#body_web	h3 {
	margin: 2em 0 0;
}
.web_list {
	margin: 20px 0 0 30px;
}
.web_list	li {
	border-top: 2px #79b2df solid;
	clear: left;
	padding: 10px 0;
}
.web_list	li.first_li {
	border-top: 0;
}
.web_list	h4 {
	margin: 0;
}
.web_list	h5 {
	font-family: Lucida Console, Monaco, monospace;
	font-size: 12px;
	font-weight: normal;
	margin: 0.25em 0 1em;
}
.webicon {
	display: block;
	float: left;
	margin: 0 20px 30px 0;
}
.vidicon {
	border: 2px #c9ebff solid;
	display: block;
	float: left;
	margin: 0 20px 30px 0;
}
a.buzzword {
	color: #628fb2;
}
.sectionbreak {
	border-top: 3px #79B2DF dotted;
	padding-top: 0.5em;
}

#photo_list {
	margin: auto;
	text-align: center;
	width: 300px;
}

#circuit_board {
	background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/circuit_board.gif);
	background-repeat: no-repeat;
	height: 844px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 90;
	background-position: center top;
}
#brain {
	background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/brain.png);
	background-repeat: no-repeat;
	height: 515px;
	left: -200px;
	margin: 0 auto;
	position: absolute;
	top: 230px;
	width: 157px;
}
#equalizer {
	background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/equalizer.gif);
	background-repeat: no-repeat;
	height: 234px;
	left: -140px;
	margin: 0 auto;
	position: absolute;
	top: 200px;
	width: 60px;
}
#typecode {
	height: 3em;
	left: -300px;
	margin: 0 auto;
	position: absolute;
	top: 100px;
	width: 240px;
}
#floating_bg {
	background-repeat: no-repeat;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 90;
	background-position: center top;
}
#body_it	#floating_bg { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/it_bg.jpg);  height: 100%;}
#body_video	#floating_bg { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/video_bg.jpg); height: 100%; }
#body_web	#floating_bg { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/web_bg.jpg); height: 1500px; }
#body_bookmarks	#floating_bg { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/bookmarks_bg.jpg); height: 1310px;}
#body_photos	#floating_bg { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/photos_bg.jpg); height: 100%;}
#body_about	#floating_bg { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/about_bg.jpg); height: 872px;}
#body_sponsors	#floating_bg { background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/sponsors_bg.jpg); height: 712px;}

body.inside_body	#mousetext {
	font-family: Lucida Console, Monaco, monospace;
	left: 600px;
	position: absolute;
	top: 20px;
}
#mousetext {
	font-family: Lucida Console, Monaco, monospace;
	left: -80px;
	position: absolute;
	top: 204px;
}
.over {
	color: #c9ebff;
}
.intro {
	font-size: 14px;
	padding-left: 20px;
}
.leading_image {
	float: left;
	margin: 10px 10px 10px 0;
}
.trailing_image {
	float: right;
	margin: 10px 0 10px 10px;
}
.square_btn	img {
	border: 1px #79b2df solid;
}
.centered {
	text-align: center;
}

#footer_wrapper {
	background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/inside_bottom.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-left: 60px;
	padding-top: 50px;
	position: relative;
	width: 100%;
	z-index: 110;
}
#footer {
	font-size: 10px;
	margin: 0 auto 1em;
	text-align: center;
	width: 800px;
}
#footer	a {
	color: #79b2df;
}
#footer	a:hover {
	color: #c9ebff;
	text-decoration: none;
}
#footer	ul {
	margin: 0;
	padding: 0;
}
#footer	li {
	border-left: 2px #79b2df solid;
	display: inline;
	padding-left: 1em;
	padding-right: 1em;
}
#footer	li.first_li {
	border: 0;
	padding-left: 0;
}
#footer	#sponsors	li {
	border: 0;
	line-height: 60px;
	vertical-align: middle;
}
#footer	#sponsors	img {
	max-height: 60px;
	vertical-align: middle;
}
#home_body	#copyright {
	padding-left: 60px;
	text-align: left;
}
#misc_linkgroup {
	clear: left;
	width: 97%;
}
.linkgroup {
	background-image: url(https://s3-us-west-1.amazonaws.com/chuckharper/images/linkbox_bg.png);
	background-repeat: repeat;
	border: 3px #79b2df solid;
	margin-bottom: 10px;
	padding-bottom: 20px;
	text-align: center;
}
.linkgroup	h3 {
	padding-bottom: 10px;
}
.col1 {
	float: left;
	width: 48%;
}
.col2 {
	margin-left: 50%;
	padding-top: 0px;
	width: 48%;
}
.addendum {
	font-size: 75%;
	font-style: italic;
}

#body_sponsors	#sponsors {
	border-top: 3px #79B2DF dotted;
	padding: 30px 0 0 3%;
}
#body_sponsors	#sponsors	li {
	float: left;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	width: 32%;
}
#body_sponsors	#sponsors	img {
	max-height: 60px;
	/* vertical-align: middle; */
}
.showall {
	vertical-align: top;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-block;} /* for IE/Mac */

.roundbox, .linkgroup {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	behavior: url(/css/border-radius.htc);
	border-radius: 10px;
}

.coda {
	color: #435f76;
	font-size: 80%;
	margin: 2em 0 0 5em
}

.hr {
	border-bottom: 1px #79b2df solid;
	height: 1px;
	margin-bottom: 1em;
}
.hr	hr {
	display: none;
}

.character_name {
	text-transform: uppercase;
	font-weight: bold;
}

.nowrap {
	white-space: nowrap;
}